{% extends 'blog_app/layout.html' %}


{% block content %}
<button type="button" class="btn btn-dark"><a class="text-white" href="{% url 'blog_app:create' %}">新規作成</a></button>
<br><br>
{% for item in blogs %}

<h2><a href="{% url 'blog_app:detail' num=item.id %}">{{ item.title }}</a> </h2>

<button type="button" class="btn btn-success"><a class="text-white" href="{% url 'blog_app:update' pk=item.id %}">編集</a></button>

<p>{{ item.created_datetime }}</p>
<img src="{{ item.img.url }}" class="img-fluid" alt="img" width="700" height="400">

<hr>
{% endfor %}

{% endblock content %}